maskdetection-3/*
lightning_logs/*
maskdetection-3.pth
maskdetection-3_20220913-232859.pt
maskdetection-3_20220913-234335.pt
__pycache__/*
wandb/*
diza-mask-detection-thermal/3360tgwu/*
model/*
maskdetection-3_20221003-101734.pt
data/*
others
src/__pycache__
